<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <Console name="ConsoleSimple" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="epto.utilities.Application" level="info" additivity="false">
            <AppenderRef ref="ConsoleSimple"/>
        </Logger>
        <Logger name="epto.utilities.Main$Companion" level="info" additivity="false">
            <AppenderRef ref="ConsoleSimple"/>
        </Logger>
        <Logger name="epto.pss.PeerSamplingService" level="debug"/>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>