<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%r [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <Console name="ConsoleSimple" target="SYSTEM_OUT">
            <PatternLayout pattern="%r - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="epto.utilities.Application" level="debug" additivity="false">
            <AppenderRef ref="ConsoleSimple"/>
        </Logger>
        <Logger name="epto.utilities.Main$Companion" level="debug" additivity="false">
            <AppenderRef ref="ConsoleSimple"/>
        </Logger>
        <Logger name="epto.pss.PeerSamplingService" level="debug" additivity="false">
            <AppenderRef ref="ConsoleSimple"/>
        </Logger>
        <Logger name="epto.udp.Gossip" level="debug"/>
        <Logger name="epto.DisseminationComponent" level="debug"/>
        <Logger name="epto.OrderingComponent" level="debug"/>
        <Logger name="epto.pss.PassiveThread" level="debug"/>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>